@page "/productdetail"

<div>
    <span>@Title</span>
    <span>@Description</span>
    <button @onclick="@(() => OnClick.InvokeAsync(Title))">Click me</button>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Product detail";

    [Parameter]
    public string Description { get; set; } = "Description";

    [Parameter]
    public EventCallback<string> OnClick { get; set; }
}